<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>django_ig</title>
    <link href="{% static 'bootstrap/css/bootstrap-themed.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>


    <div class="content-wrapper">
        {% block content %}
        {% endblock %}
    </div>

    {% include 'feeds/nav.html' %}


    <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block extrascript %}
    {% endblock %}


  </body>
</html>