<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>django_ig</title>
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/font-awesome-4.6.3/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body class="{% block body_class_override %}{% endblock %}">
    {% include 'feeds/nav.html' %}

    <div class="content-wrapper">
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </div>


    <script type="text/javascript" src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax-csrf-auth.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    {% block extrascript %}
    {% endblock %}


  </body>
</html>
