{% extends 'feeds/base.html' %}

{% load static %}

{% block content %}

  {% for message in messages %}
    R:{{ message.receiver.username }}<br>
    S:{{ message.sender.username }}<br>
    Text: {{ message.text }}<br><br>
  {% endfor %}

  <div id="session-key" style="display: none">
    {{ request.session.session_key }}
  </div>
  
  <ul id="messages">
  </ul>
  <input type="text" id="messageInput">

{% endblock %}


{% block extrascript %}
<script src="{% static 'js/inbox.js' %}"></script>
{% endblock %}
