<div class="navbar navbar-default navbar-fixed-top">
      <div class="container desktop">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Django IG</a>
            <button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar-main" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'index' %}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                    <li><a href="{% url 'explore' %}"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                    <li><a href="{% url 'post_picture' %}"><i class="fa fa-upload" aria-hidden="true"></i></a></li>
                    <li><a href="{% url 'notifications' %}"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
                    <li><a href="{% url 'profile' request.user.username %}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                    <li><a href="{% url 'inbox' %}"><i class="fa fa-inbox" aria-hidden="true"></i></a></li>
                    <!--
                      Using profile page logout for now
                      <li><a href="{% url 'signout' %}">Signout</a></li>
                    -->
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </div>
      </div>
      <div class="container mobile">
        {% if request.user.is_authenticated %}
          <a href="{% url 'index' %}">
            <div class="col-xs-2 col-xs-offset-1">
              <i class="fa fa-home" aria-hidden="true"></i>
            </div>
          </a>
          <a href="{% url 'explore' %}">
            <div class="col-xs-2">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
          </a>
          <a href="{% url 'inbox' %}">
            <div class="col-xs-2 inbox">
              <i class="fa fa-inbox" aria-hidden="true"></i>
            </div>
          </a>
          <a href="{% url 'notifications' %}">
            <div class="col-xs-2">
              <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>
          </a>
          <a href="{% url 'profile' request.user.username %}">
            <div class="col-xs-2">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
          </a>
        {% else %}
          <div class="navbar-header">
              <a href="/" class="navbar-brand">Django IG</a>
              <a href="{% url 'login' %}" class="navbar-brand">Login</a>
              <a href="{% url 'signup' %}" class="navbar-brand">Signup</a>
          </div>
        {% endif %}
      </div>
</div>
