{% extends 'feeds/base.html' %}

{% load static %}

{% block content %}
<div class="row single-post">
  <div class="single-post-card view-update">
    <div class="header">
      {% if post.user_profile.profile_pic %}
        <img class="picture-circle--medium" src="{{ post.user_profile.profile_pic.url }}">
      {% else %}
        <img class="picture-circle--medium" src="{% static 'images/profile_placeholder.jpg' %}">
      {% endif %}
      <a href="{% url 'profile' post.user_profile.user.username %}">{{ post.user_profile.user.username }}</a>
    </div>
    <div class="image__wrapper">
      <img class="card__main-image" src="{{ post.image.url }}">
    </div>
    <div class="comments-portion">
      <div>
        <div class="likes">
          {% if post.get_number_of_likes %}
            {{ post.get_number_of_likes }} like{% if post.get_number_of_likes > 1 %}s{% endif %}
          {% endif %}
        </div>
        <div class="timestamp">
            {{ post.posted_on|timesince }}
        </div>
      </div>
      <ul class="comment-list">
      {% for comment in post.comment_set.all %}
        <li class="comment-list__comment">
          <a href="{% url 'profile' comment.user.username %}" class="user">
            {{ comment.user.username }}
          </a>
          <span class="comment">{{ comment.comment }}</span>
        </li>
      {% endfor %}
      </ul>
      <section class="input-row">
        <i class="fa {% if liked %}fa-heart{% else %}fa-heart-o{% endif %} submit-like" aria-hidden="true"></i>
        <div class="comment-input-wrapper">
          <input class="add-comment" type="text" placeholder="Add a comment...">
        </div>
        <div class="hidden-data {{ post.pk }}" style="display: none;">
          <span class="post-pk">{{ post.pk }}</span>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}
