{% extends 'feeds/base.html' %}

{% load static custom_tags %}

{% block body_class_override %}white{% endblock %}
{% block content %}
<div class="row profile-settings">
  <div class="col-xs-12">
    <div class="profile-pic-name">
      {% if user.userprofile.profile_pic %}
        <img class="picture-circle--medium" src="{{ user.userprofile.profile_pic.url }}">
      {% else %}
        <img class="picture-circle--medium" src="{% static 'images/profile_placeholder.jpg' %}">
      {% endif %}
      <span class="username">{{ user.username }}</span>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        {{ form.profile_pic.label }}
        {{ form.profile_pic }}
        {{ form.profile_pic.errors }}
      </div>
      <div class="form-group">
        {{ form.description.label }}<br>
        {{ form.description|addClass:"form-control" }}
        {{ form.description.errors }}
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
