{% extends 'feeds/base.html' %}

{% load static custom_tags %}

{% block content %}
<div class="profile">
  <div class="profile__head">
    <div class="row">
      <div class="col-xs-4 left">
        {% if profile.profile_pic %}
          <img class="picture-circle" src="{{ profile.profile_pic.url }}">
        {% else %}
          <img class="picture-circle" src="{% static 'images/profile_placeholder.jpg' %}">
        {% endif %}
      </div>
      <div class="col-xs-8 right">
        <div class="name-buttons">
          <h1 class="username">{{ user.username }}</h1>
          {% if request.user == user %}
            <a class="edit-desktop" href="{% url 'profile_settings' user.username %}">
              <button class="edit-profile">Edit Profile</button>
            </a>
            <div class="options-bubbles" type="button" data-toggle="modal" data-target="#logoutModal">
              <p class="bubble"></p>
              <p class="bubble"></p>
              <p class="bubble"></p>
            </div>
          {% elif request.user.is_authenticated %}
          <div class="follow-toggle__container">
            {% is_following request.user.userprofile profile as following %}
            <button class="btn btn-primary {% if not following %}follow-user{% else %}unfollow-user{% endif %}" id="{{ profile.pk }}">
              {% if not following %}
                Follow
              {% else %}
                Following
              {% endif %}
            </button>
          </div>
          {% endif %}
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <ul>
                  <li><a type="button" class="btn" href="">Change Password</a></li>
                  <li><a type="button" class="btn" href="{% url 'signout' %}">Logout</a></li>
                  <li><a type="button" class="btn" data-dismiss="modal">Cancel</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        {% if request.user == user %}
          <a class="edit-mobile" href="{% url 'profile_settings' user.username %}">
            <button class="edit-profile">Edit Profile</button>
          </a>
        {% endif %}
        <div class="desktop-block">
          <ul class="stats">
              <li class="stats__count"><span>{{ profile.igpost_set.count }}</span> Posts</li>
              <a href="{% url 'followers' username=profile.user.username %}"><li class="stats__count"><span>{{ profile.get_number_of_followers }}</span> Followers</li></a>
              <a href="{% url 'following' username=profile.user.username %}"><li class="stats__count"><span>{{ profile.get_number_of_following }}</span> Following</li></a>
          </ul>
          <div class="description">
            <p>{% if profile.description %}{{ profile.description }}{% endif %}</p>
          </div>
        </div>
      </div>
      <div class="mobile-block">
        <div class="description">
          <p>{% if profile.description %}{{ profile.description }}{% endif %}</p>
        </div>
        <ul class="stats">
            <div class="col-xs-4"><li class="stats__count"><span>{{ profile.igpost_set.count }}</span><br> posts</li></div>
            <div class="col-xs-4"><a href="{% url 'followers' username=profile.user.username %}"><li class="stats__count"><span>{{ profile.get_number_of_followers }}</span><br> followers</li></a></div>
            <div class="col-xs-4"><a href="{% url 'following' username=profile.user.username %}"><li class="stats__count"><span>{{ profile.get_number_of_following }}</span><br> following</li></a></div>
        </ul>
      </div>
    </div>
  </div>

  <div class="profile__body">
    <div class="row">
      {% for post in profile.igpost_set.all reversed %}
        <div class="col-xs-4">
          <div class="picture-square" style="background-image: url({{ post.image.url }})">
            <a href="{% url 'post' post.pk %}">
              <div class="content">
                <i class="fa fa-heart" aria-hidden="true"></i> {{ post.get_number_of_likes }}
                <i class="fa fa-comment" aria-hidden="true"></i> {{ post.get_number_of_comments }}
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}
