{% extends 'feeds/base.html' %}

{% load staticfiles %}

{% block content %}
    <form action="/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>
            {{ form.username.label }}
            {{ form.username }}
        </label>
        <label>
            {{ form.email.label }}
            {{ form.email }}
        </label>
        <label>
            {{ form.password1.label }}
            {{ form.password1 }}
        </label>
        <label>
            {{ form.password2.label }}
            {{ form.password2 }}
        </label>

        <button class="btn btn-default">Submit</button>
    </form>
{% endblock %}