asgi-redis==1.4.3
asgiref==1.1.2
asn1crypto==0.24.0
autobahn==19.6.2
cffi==1.12.3
channels==0.17.3
cryptography==2.7
daphne==0.14.1
dj-database-url==0.4.0
dj-static==0.0.6
Django==1.10.3
django-annoying==0.10.3
django-appconf==1.0.3
django-imagekit==3.3
gunicorn==19.4.5
haikunator==2.1.0
msgpack-python==0.5.6
pilkit==2.0
Pillow==6.0.0
psycopg2==2.8.3
pycparser==2.19
python-decouple==3.0
redis==2.10.6
six==1.12.0
static3==0.7.0
Twisted==15.5.0
txaio==18.8.1
Unipath==1.0
whitenoise==4.1.2
zope.interface==4.1.3
