@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/components';
@import 'partials/nav';
@import 'partials/cards';

.content-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #fafafa;
}