.cards-listing {
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
}

.card {
  background-color: #fff;
  margin-bottom: 50px;
  border: 1px solid #efefef;
  border-radius: 3px;
  &__panel-head {
    padding: 14px 20px 12px;
    .poster {
      &__profilepic {
        border-radius: 100%;
        max-width: 30px;
        max-height: 30px;
        width: 30px;
        height: 30px;
        margin-right: 5px;
      }
      &__name {
        color: #262626;
        &:hover {
          color: #262626 * 2;
          text-decoration: none;
        }
      }
      &__timestamp {
        float: right;
        color: #999;
      }
    }
  }
  &__main-image {
    max-width: 100%;
    max-height: 600px;
    height: auto;
    margin: 0 auto;
    display: block;
  }
  &__panel-body {
    padding: 20px;
    .likes {
      font-weight: bold;
      margin-bottom: 5px;
    }
    .view-more {
      @include grey-anchor();
    }
  }
}

.comment-list {
    list-style: none;
    margin: 0;
    padding: 0;
    &__comment {
      margin-top: 5px;
      margin-bottom: 5px;
      .user {
        @include grey-anchor();
        font-weight: bold;
      }
    }
  }
