body {
  background-color: #fafafa;
}

a:hover {
  text-decoration: none;
}

.content-wrapper {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #fafafa;
}

.picture-circle {
  border-radius: 100%;
  width: 150px;
  height: 150px;
}

.picture-square {
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  &:after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
  .content {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }
  &:hover {
    .content {
      display: block;
      .fa {
        color: #fff;
      }
    }
  }
}

.options-bubbles {
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
  .bubble {
    display: inline-block;
    height: 5px;
    width: 5px;
    border: 1px solid #ccc * 0.7;
    border-radius: 100%;
    margin: 0;
  }
}


.desktop-block {
  display: block;
  @media screen and (max-width: $mobile) {
    display: none;
  }
}

.mobile-block {
  display: none;
  @media screen and (max-width: $mobile) {
    display: block;
  }
}
