.navbar {
  background-color: #fff;
  border-bottom-color: #dbdbdb;

  .fa {
    font-size: 25px;
    color: #333;
  }

  .mobile {
    display: none;
    a, a:hover, a:focus {
      color: #333;
    }
    .col-xs-2 {
      text-align: center;
      min-height: 50px;
      .fa {
        font-size: 25px;
        margin-top: 13px;
      }
      &.inbox {
        background: #333;
        .fa {
          color: #fff;
        }
      }
    }
  }

  .navbar-brand:not(:first-of-type) {
    float: right;
  }

  @media screen and (max-width: 768px) {
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
}
