.profile {
  max-width: 975px;
  padding: 60px 20px 0;
  margin: 0 auto;

  &__head {
    margin-bottom: 40px;
    .left {
      text-align: center;
    }
    h1, .edit-profile, .options-bubble {
      vertical-align: middle;
    }
    h1 {
      display: inline-block;
      margin: 0;
    }
    .edit-profile {
      margin-left: 20px;
      margin-right: 11px;
      font-size: 16px;
      font-weight: 600;
      color: #999;
      border: 1px solid #999;
      border-radius: 3px;
      padding: 0 11px;
      line-height: 28px;
      background-color: #fafafa;
      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }
    .options-bubbles {
      p { vertical-align: middle; }
    }
    .edit-profile, .options-bubbles {
      margin-top: 5px;
      cursor: pointer;
    }
    .edit-mobile {
      display: none;
    }
    .name-buttons {
      margin-bottom: 20px;
    }
    .description {
      font-size: 17px;
    }
  }

  &__body {
    > .row > .col-xs-4 {
      padding: 13px;
    }
  }

  .mobile-block {
    clear: both;
    padding: 20px 15px 10px;
    * {
      font-size: 14px;
    }
    .description {
      padding-bottom: 15px;
      margin-bottom: 15px;
      border-bottom: 1px solid #ccc;
      p { margin: 0; }
    }
    .stats {
      text-align: center;
      &__count {
        line-height: 13px;
        margin-right: 0;
        color: #999;
        span {
          color: #262626;
        }
      }
      > a {
        cursor: pointer;
      }
    }
  }

  .follow-toggle__container {
    margin-top: 12px;
  }


  @media screen and (max-width: 992px) {
    padding: 60px 0;
  }

  @media screen and (max-width: $mobile) {
    padding-top: 15px;
    &__head {
      margin-bottom: 10px;
      .picture-circle {
        width: 75px;
        height: 75px;
        margin-top: 5px;
      }
      h1 {
        font-size: 21px;
        margin-right: 11px;
      }
      .name-buttons {
        margin-bottom: 12px;
      }
      .edit-desktop {
        display: none;
      }
      .edit-mobile {
        display: block;
        .edit-profile {
          font-size: 14px;
          margin: 0;
          padding: 0 8px;
          line-height: 24px;
        }
      }
      .col-xs-4.left {
        width: auto;
      }
    }

    &__body > .row > .col-xs-4 {
      padding: 1px;
    }
  }
}


.stats {
  list-style: none;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  > * {
    font-size: 17px;
    color: #262626;
  }
  .stats__count {
    display: inline-block;
    margin-right: 40px;
    span {
      font-weight: bold;
    }
  }
  a:hover {
    color: #262626;
    cursor: pointer;
  }
}


.follow {
  &__wrapper {
    background-color: #fff;
  }
  &__heading {
    font-weight: 600;
    font-size: 16px;
    padding: 16px;
    border-bottom: 1px solid #dbdbdb;
  }
  &__card {
    position: relative;
    padding: 16px 20px;
    .picture-circle--small {
      margin-right: 13px;
    }
    a {
      color: #363636;
      font-weight: 600;
    }
    .follow-toggle__container {
      position: absolute;
      top: 21%;
      right: 20px;
      z-index: 1;
      background: #fff;
    }
  }
}
